@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --rounded: 0.25rem;
  --rounded-lg: 0.5rem;
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.5;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--red);
  background-image: url(./images/bg-intro-mobile.png);
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1130px;
}

.intro {
  margin: 4rem auto 2.5rem auto;
  padding: 0 1.875rem;
  text-align: center;
}

.heading-main {
  padding: 1.5rem;
  font-size: 1.75rem;
}

.intro-copy {
  font-weight: 500;
}

.sign-up-form {
  position: relative;
}

.promotion {
  margin: 1.5rem;
  padding: 1.25rem 3rem;
  text-align: center;
  background-color: var(--blue);
  border-radius: var(--rounded-lg);
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.promotion-text-bold {
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  margin-bottom: 4rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: var(--rounded-lg);
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-weight: 600;
  border-radius: var(--rounded);
  border: 1px solid var(--grayish-blue);
}

.form-input:active,
.form-input:focus {
  border: 1px solid var(--blue);
}

.error-icon {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
}

.error-message {
  display: none;
  padding-top: 0.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  font-style: italic;
  text-align: right;
  color: var(--red);
}

.input-container.error .form-input {
  border: 1px solid var(--red);
}

.input-container.error .error-icon {
  display: block;
}

.input-container.error .error-message {
  display: block;
}

.form-button {
  margin-bottom: 0.5rem;
  padding: 1rem 1.25rem;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: var(--green);
  border-radius: var(--rounded);
  border: 1px solid hsl(154, 59%, 45%);
  border-bottom: 0.25rem solid hsl(154, 59%, 45%);
  transition: background-color 300ms ease;
}

.form-button:hover,
.form-button:active {
  background-color: hsl(154, 59%, 60%);
}

.disclaimer {
  padding: 0 2rem;
  font-size: 0.625rem;
  font-weight: 500;
  text-align: center;
  color: var(--grayish-blue);
}

.disclaimer-terms {
  color: var(--red);
  font-weight: 700;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: var(--blue);
}

@media (min-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-desktop.png);
  }

  .component-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .intro {
    flex: 9;
    margin-top: 2rem;
  }

  .heading-main {
    padding-left: 0;
    font-size: 3rem;
    text-align: left;
    line-height: 1.2;
  }

  .intro-copy {
    text-align: left;
    font-weight: 400;
  }

  .sign-up-form {
    flex: 10;
  }

  .promotion {
    margin-top: 5rem;
    padding: 1rem 3rem;
  }

  .promotion-text-bold {
    font-weight: 600;
  }

  .form {
    padding: 2.25rem;
  }

  .form-button {
    margin-bottom: 1rem;
  }

  .disclaimer {
    margin-bottom: 0.5rem;
  }
}
